blockquote {
  position: relative;
  margin: 2rem;
  padding: 1rem 2rem;
  text-align: center;
  word-break: keep-all;
  &:before {
    position: absolute;
    width: 80%;
    height: 0.03rem;
    top: 0;
    left: 10%;
    content: '';
  }
  &:after {
    position: absolute;
    width: 80%;
    height: 0.03rem;
    left: 10%;
    bottom: 0;
    content: '';
  }

  p {
    position: relative;
    text-align: center;
    word-break: keep-all;
    font-family: 'Nanum Myeongjo', 'Noto Sans Light', 'Malgun Gothic', sans-serif;
    font-weight: 800;
    font-size: 1rem;
    line-height: 1.8rem;
    &:before {
      position: absolute;
      top: 0;
      left: -2.5rem;
      content: '‘‘';
      font-size: 5rem;
      color: #ddd;
      letter-spacing: -0.3rem;
    }
    &:after {
      position: absolute;
      bottom: -3.6rem;
      right: -2.3rem;
      content: '’’';
      font-size: 5rem;
      color: #ddd;
      letter-spacing: -0.3rem;
    }
  }

  footer {
    font-family: 'Nanum Myeongjo', 'Noto Sans Light', 'Malgun Gothic', sans-serif;
    margin-top: 1rem;
    font-weight: 800;
    color: #999;
    &:before {
      content: '~';
    }
    &:after {
      content: '~';
    }
  }
}