h1, h2, h3, h4, h5, h6 {
  @import url('https://fonts.googleapis.com/earlyaccess/nanummyeongjo.css');
  font-family: 'Nanum Myeongjo', 'Noto Sans Light', 'Malgun Gothic', sans-serif;
  word-break: keep-all;
}

h1 {
  font-size: 2.5rem;
  line-height: 2.5rem;
}

h2 {
  font-size: 1.7rem;
  line-height: 1.7rem;
}

h3 {
  font-size: 1.3rem;
  line-height: 1.3rem;
}

h4 {
  font-size: 1.1rem;
  line-height: 1.1rem;
}

h5 {
  font-size: 0.9rem;
  line-height: 0.9rem;
}

h6 {
  font-size: 0.7rem;
  line-height: 0.7rem;
}
