h1, h2, h3, h4, h5, h6 {
  font-family: 'Nanum Myeongjo', 'Noto Sans Light', 'Malgun Gothic', sans-serif;
  word-break: keep-all;
  font-weight: 800;
  color: #333;
}

h1 {
  font-size: 2.5rem;
  line-height: 3.2rem;
}

h2 {
  font-size: 1.7rem;
  line-height: 2.2rem;
}

h3 {
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: #777;
}

h4 {
  font-size: 1.1rem;
  line-height: 1.6rem;
  color: #777;
}

h5 {
  font-size: 0.9rem;
  line-height: 1.4rem;
  color: #777;
}

h6 {
  font-size: 0.7rem;
  line-height: 1.2rem;
  color: #777;
}
