mark {
    display: inline-block;
    position: relative;
    background: transparent;
    z-index: 0;
    &:before {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 80%;
        top: 0.15em;
        left: -0.2em;
        background: darken(greenyellow, 10);
        transform: skew(-10deg) rotate(-1deg);
        border-left: 3px solid darken(greenyellow, 20);
        border-right: 3px solid darken(greenyellow, 20);
        border-radius: 2px;
        opacity: 0.4;
        content: '';
    }
    &.pink {
        &:before {
            background: darken(hotpink, 10);
            border-left: 3px solid darken(hotpink, 20);
            border-right: 3px solid darken(hotpink, 20);
        }
    }
}