q {
    position: relative;
    font-family: 'Nanum Myeongjo', 'Noto Sans Light', 'Malgun Gothic', sans-serif;
    margin: 0 1em;
    color: #999;
    font-weight: 800;
    font-size: 1rem;
    &:before {
        position: absolute;
        top: 0;
        left: -0.5em;
        content: '“';
        font-size: 1.4rem;
        color: #999;
    }
    &:after {
        position: absolute;
        top: 0;
        right: -0.5em;
        content: '”';
        font-size: 1.4rem;
        color: #999;
    }
}