.brunch-style {
  @import url('https://fonts.googleapis.com/earlyaccess/notosanskr.css');
  font-family: "Noto Sans Light", "Malgun Gothic", sans-serif;
  color: #333;
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 0.8px;
  line-height: 1.8em;
}